@font-face {
    font-family: 'LexendDeca';
    src: url('../../public/fonts/LexendDeca-VariableFont_wght.ttf')
        format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glysa';
    src: url('../../public/fonts/Glysa.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
